*, *:before, *:after {
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
}

body,p {
  margin: 0;
  padding: 0;
  font-family: 'Quicksand', sans-serif;
  font-size: 100%;
  color: white;
  text-shadow: .5px .5px black;
}

li,ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.hide-on-mobile {
  display: block;
}

.hide-on-desktop {
  display: none;
}

.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

.switch input {display:none;}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgb(228, 87, 87);
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: rgb(71, 179, 71);
}

input:focus + .slider {
  box-shadow: 0 0 1px rgb(71, 179, 71);
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
} 

#root {
  /* background-color: yellowgreen; */
  height: 100vh;
  width: 100vw;
  min-height: 484px;
  min-width: 320px;
}

.app-container {
  /* background-color: yellow; */
  height: 100%;
  width: 100%;
}

.router-container {
  /* background-color: antiquewhite; */
  height: 100%;
  width: 100%;
}

.mobile-container {
  background-color: #70C3BD;
  width: 100%;
  height: 100%;
}

.desktop-container {
  /* background-color: aqua; */
  height: inherit;
  width: inherit;
  display: flex;
  min-height: 525px;
  min-width: 649px;
}

.users-list-container {
  background-color: white;
  position: relative;
  flex-basis: auto;
  min-width: 200px;
  box-shadow: 3px 0px 5px 0px rgba(23,0,0,.5);
  display: flex;
  flex-direction: column;
  align-items: center;
}

.users-list-container span {
  background-color: #4B77BE;
  width: 100%;
  height: 8%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.users-list-container span span {
  color:white;
  text-shadow: .5px .5px black;
  font-weight: 400;
  font-size: 150%;
}

.all-users {
  background-color:  #1F4788;
  height: 100%;
  width: 100%;
}

.users div:nth-child(odd){
  background-color: rgba(128, 128, 128, 0.329);
  padding: 10px;
}

.users div:nth-child(even){
  background-color: rgba(85, 85, 85, 0.329);
  padding: 10px;
}

.user {
  display: flex;
  justify-content: space-between;
}

.red {
  color: rgb(228, 87, 87);
}

.green {
 color: rgb(59, 224, 59);
}

.logo-and-status-container {
  background-color: salmon;
  flex-basis: 100%;
  display: flex;
  flex-direction: column;
}

.logo-container {
  background-color: #70C3BD;
  flex-basis: 70%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.logo {
  height: 80%;
  width: 80%;
  background-image: url("../images/LOGO_RPS.png");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}

.countdown-container {
  background-color: #70C3BD;
  flex-basis: 30%;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid grey;
}

.countdown-desktop {
  font-size: 400%;
  font-weight: 700;
}

.content-container {
  display: flex;
  flex-direction: column;
  width: inherit;
  height: inherit;
}

.loginpage-container {
  background-color: #70C3BD;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 90%;
}

.loginpage-container li {
  margin: 10px;
}

.loginpage-container span {
  font-size: 200%;
  color: white;
  text-shadow: .5px .5px black;
}

input {
  width: 100%; 
  padding: 5px 0;
  text-indent: 5px;
}

.footer {
  position: absolute;
  z-index: 4;
  bottom: 0;
  height: 10%;
  width: 100%;
  background-color: #ef5b7f;
  display: flex;
  align-items: center;
  font-size: 200%;
  color: white;
  text-shadow: 1px 1px black;
  cursor: pointer;
}


.footer span {
  margin-left: auto;
  margin-right: auto;
}

.footer i {
  align-self: center;
  margin-right: 10px;
}

.header {
  background-color: #ef5b7f;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 4;
  height: 10%;
  width: 100%;
}

.header span {
  display: flex;
  flex-grow: 1;
  height: 100%;
  justify-content: center;
  align-items: center;
  font-size: 200%;
  font-weight: 500;
  text-shadow: 1px 1px black;
  color: white;
  box-shadow: 0px 2px 5px 0px rgba(239,91,127,.5);
}


.ready-page-container {
  background-color: #70C3BD;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  font-size: 175%;
}

.ready-page-container > * {
  margin: 10px;
  color: white;
  text-shadow: .5px .5px black;
}



.wait-page-container {
  background-color: #70C3BD;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;
  font-size: 200%;
  justify-content: center;
  text-align: center;
}

.lost-page-container {
  background-color: #F47983;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
}

.you-lost-icon {
  /* background-color: #1F4788; */
  flex-basis: 50%;
  width: 100%;
  display: flex;
  justify-content: center;
  padding-top: 3%;
}

.you-lost-icon svg {
  width: 50%;
  stroke: #646464;
  stroke-width: .5px;
}

.you-lost-text {
  /* background-color: #f1f2f2; */
  flex-basis: 50%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  text-align: center;
  font-size: 200%;
  padding: 6%;
}

.cls-1,.cls-2{
  fill:#ef5b7f;
}

.cls-2,.cls-3,.cls-4,.cls-5{
  stroke:#f1f2f2;
}

.cls-2,.cls-4,.cls-5{
  stroke-width:2px;
}

.cls-3,.cls-5{
  fill:none;
  stroke-linecap:round;
}

.cls-3{
  stroke-dasharray:2 3;
}

.cls-4{
  fill:#fff;
}

.wonround-page-container {
  background-color: #26C281;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
}

.you-won-icon {
  /* background-color: #1F4788; */
  flex-basis: 50%;
  width: 100%;
  display: flex;
  justify-content: center;
  margin-top: 10%;
}

.you-won-icon svg {
  width: 40%;
}

.you-won-text {
  /* background-color: #f1f2f2; */
  flex-basis: 40%;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  text-align: center;
  font-size: 200%;
  padding: 6%;
}

.choose-page-container {
  background-color: #70C3BD;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;
}

.vs {
  /* background-color: yellow; */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-basis: 25%;
  width: 100%;
  font-size: 200%;
  padding-top: 10%;
}

.vs-text {
  font-weight: 700;
}

.choice-container {
  /* background-color: #ef5b7f; */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  flex-basis: 65%;
  width: 100%;
  margin-top: 5%;
}

.rps-radio label svg {
  fill: white;
  width: 20vw;
  display: flex;
  justify-content: center;
  align-items: center;
}

.rps-radio {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.paper-icon {
  width: 25%;
}

label {
 display: flex;
 align-items: center;
 justify-content: center;
}

input[type="radio"] {
  position: absolute;
  z-index: 4;
  opacity: 0;
  width: 20%;
  height: 14%;
}

input[type="radio"] + svg {
	-webkit-transition: all 0.2s;
	transition: all 0.2s;
}

input + svg {
  cursor: pointer;
}

input[class="paper"]:hover + svg,
input[class="paper"]:checked + svg,
input[class="paper"]:focus + svg {
  fill: rgb(0, 109, 217);
  stroke: black; 
  stroke-width: 2px;
}

input[class="rock"]:hover + svg,
input[class="rock"]:checked + svg,
input[class="rock"]:focus + svg {
  fill: rgb(0, 204, 79);
  stroke: black; 
  stroke-width: 2px;
}

input[class="scissors"]:hover + svg,
input[class="scissors"]:checked + svg,
input[class="scissors"]:focus + svg {
  fill: rgb(232, 214, 0);
  stroke: black; 
  stroke-width: 2px;
}

.gameover-page-container {
  background-color: #70C3BD;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.winner-icon {
  width: 80%;
  max-width: 444.8px;
}

.winner-name {
  position: absolute;
  z-index: 4;
  left:auto;
  right:auto;
  top: 67%;
  bottom: 25%;
  font-weight: 700;
  font-size: 150%
}

.win-footer {
  position: absolute;
  z-index: 4;
  bottom: 0;
  height: 10%;
  width: 100%;
  background-color: #ef5b7f;
  display: flex;
  align-items: center;
  font-size: 200%;
  color: white;
  text-shadow: 1px 1px black;
  cursor: pointer;
}

.win-footer span {
  margin-left: auto;
  margin-right: auto;
}

.win-footer i {
  align-self: center;
  margin-right: 10px;
}

@media only screen 
       and (min-width: 420px) {

  .winner-name {
    position: absolute;
    z-index: 4;
    left:auto;
    right:auto;
    top: 69%;
    bottom: 25%;
  }
}

@media only screen 
and (min-height: 880px) {

  .winner-name {
    position: absolute;
    z-index: 4;
    left:auto;
    right:auto;
    top: 66%;
    bottom: 25%;
  }
}

@media only screen 
       and (max-width: 648px) {

.hide-on-mobile {
  display: none;
}

.hide-on-desktop {
  display: block;
}


}