*, *:before, *:after {
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
}

body,p {
  margin: 0;
  padding: 0;
  font-family: 'Quicksand', sans-serif;
  font-size: 100%;
}

li,ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.hide-on-mobile {
  display: block;
}

.hide-on-desktop {
  display: none;
}

.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

.switch input {display:none;}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgb(228, 87, 87);
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: rgb(59, 224, 59);
}

input:focus + .slider {
  box-shadow: 0 0 1px rgb(59, 224, 59);
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
} 

#root {
  /* background-color: yellowgreen; */
  height: 100vh;
  width: 100vw;
}

.app-container {
  /* background-color: yellow; */
  height: 100%;
  width: 100%;
}

.router-container {
  /* background-color: antiquewhite; */
  height: 100%;
  width: 100%;
}

.mobile-container {
  background-color: blue;
  width: 100%;
  height: 100%;
  padding-top: 17.5%;
}

.desktop-container {
  background-color: aqua;
}

.content-container {
  display: flex;
  flex-direction: column;
  width: inherit;
  height: inherit;
}

.loginpage-container {
  background-color: #70C3BD;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 90%;
}

.loginpage-container li {
  margin: 10px;
}

.loginpage-container span {
  font-size: 200%;
}

input {
  width: 100%; 
  padding: 5px 0;
  text-indent: 5px;
}

.footer {
  position: absolute;
  z-index: 4;
  bottom: 0;
  height: 10%;
  width: 100%;
  background-color: #39B5AC;
  display: flex;
  align-items: center;
  font-size: 200%;
  color: white;
  text-shadow: 1px 1px black;
  cursor: pointer;
}


.footer span {
  margin-left: auto;
  margin-right: auto;
}

.footer i {
  align-self: center;
  margin-right: 10px;
}

.header {
  background-color: #39B5AC;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 4;
  height: 10%;
  width: 100%;
}

.header span {
  display: flex;
  flex-grow: 1;
  height: 100%;
  justify-content: center;
  align-items: center;
  font-size: 200%;
  font-weight: 500;
  text-shadow: 1px 1px black;
  color: white;
}


.ready-page-container {
  background-color: #70C3BD;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  font-size: 200%;
}

.ready-page-container > * {
  margin: 10px;
}

@media only screen and (max-width: 600px) {

.hide-on-mobile {
  display: none;
}

.hide-on-desktop {
  display: block;
}

}